
.scale{
   transition: all 1s;
}

.scale:hover{
    transform: scale(1.2);
    
}

.galeria {


    img {
        height: 300px;
        width: 330px;
        border: 1px solid black;
        margin: 2em;
    }
}